@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";


@import "bulma/sass/grid/columns.sass";

@import "bulma/sass/layout/section.sass";

@import "bulma/sass/helpers/spacing.sass";

@import "cards.css";

// $card-width: 7rem;
// $card-height: 9rem;

$card-width: 3.3rem;
$card-height: 4.6rem;

html,
body {
	background: rgb(7, 73, 19);
	background: radial-gradient(circle, rgba(7, 73, 19, 1) 11%, rgba(17, 70, 8, 1) 34%, rgba(29, 93, 8, 1) 61%, rgba(44, 121, 9, 1) 94%);
}

@mixin size($x, $y) {
	width: $x;
	height: $y;
}

.card {
	@include size($card-width, $card-height);
	background-color: wheat;	
}

.card-position {
	@include size($card-width, $card-height);

	border-radius: 6px 6px 6px 6px;
	border: 3px dotted #2fd2de;
}

.top-column {
	padding-bottom: 5.5rem;
}

.stack {
	margin-bottom: -3.2rem;
}